<div class="tab-pane" id="network-tab-pane">
    <div class="tab-content">
        <div class="card border-0 shadow mb-4 m-2">
            <div class="card-body">
                <div id="network">
                    <div class="text-center mt-5"> Loading...</div>
                    <div class="text-center mt-2">
                        <div class="spinner-border" role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>