{% extends "layouts/base.html" %}
{% block title %} My Open Tickets {% endblock %}

<!-- Specific Page CSS goes HERE  -->

{% block stylesheets %}

{% endblock stylesheets %}

{% block app_header %}
    {% include '/includes/dash-header.html' %}

{% endblock app_header %}

{% block content %}
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item ">
                <a class="nav-link show active"
                   id="kbas-tab"
                   data-bs-toggle="tab"
                   data-bs-target="#knowledge-tab-pane"
                   type="button"
                >
                    <span class="h4"><i class="bi bi-book h4 me-2"></i>Knowledge Articles</span>
                </a>
            </li>
        </ul>
        {#  Tab Content    #}
        <div class="tab-content" id="myTabContent">
            {% include "/includes/dashboard/all-kbas-tab-content.html" %}
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block scripts %}
    {{ super() }}
    <script type="module" src="{{ url_for('knowledge_bp.static', filename='js/dashboard.js') }}"></script>
{% endblock scripts %}
