<nav class="navbar navbar-expand-lg fixed-top">
 {% include 'includes/_header-logo.html' %}
  <div id="topnav" class="container-fluid">
            <div class="h1">
                {{ subtitle }}
                <a id="new-form-btn" class="btn btn-success text-white px-3" target="_blank" title="Opens in new tab">
                <i class="bi bi-pencil-square me-2" title="New Record"></i>
                New {{model}}
              </a>
            </div>
      {% include 'includes/_header-common.html' %}
  </div>
    <hr>
</nav>
