{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors %}

{% block metas %}
    {{ super() }}
    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href='{{ url_for("static", filename="/images/favicon.ico") }}'/>
{% endblock metas %}

{% block styles %}
    {{ bootstrap.load_css() }}
{% endblock styles %}

{% block content %}

    {% include "security/_messages.html" %}
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="{{ url_for('static', filename='/images/key.jpg') }}"
                                     alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;"/>
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form action="{{ url_for_security('change_password') }}" method="POST"
                                          name="change_password_form">
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0">SmicTix</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Change
                                            Password</h5>
                                        <div class="form-outline mb-4">
                                            {{ change_password_form.hidden_tag() }}
                                            {% if active_password %}
                                                {{ render_field_with_errors(change_password_form.password, class="form-control") }}
                                            {% else %}
                                                <h3>{{ _fsdomain('You do not currently have a password - this will add one.') }}</h3>
                                            {% endif %}
                                        </div>
                                        <div class="form-outline mb-4">
                                            {{ render_field_with_errors(change_password_form.new_password, class="form-control") }}
                                        </div>
                                        <div class="form-outline mb-4">
                                            {{ render_field_with_errors(change_password_form.new_password_confirm, class="form-control") }}
                                        </div>
                                        <div class="hstack gap-3 pt-1 mb-4">
                                            {{ render_field(change_password_form.submit, class="btn btn-dark btn-lg btn-block") }}
                                            {# I modified the below from default  #}
                                            <button type="button" class="btn btn-danger" onclick="window.close()">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block scripts %}

    {% endblock scripts %}
{% endblock content %}
