{% extends "layouts/base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'macros/macros.html' import render_field %}


{% block app_header %}
    {% include 'includes/forms/form-header.html' %}
{% endblock app_header %}

{% block content %}
    <form id="form" class="row g-3 needs-validation" novalidate method="post">
        {{ form.csrf_token }}
        <div class="row g-2 mt-4">
            <div class="col-3 px-3 border-end border-white">
                {% include "/includes/forms/requester-fields.html" %}
                {% include "/includes/form/interaction-priority.html" %}
                {% include "/includes/form/sla-details.html" %}
            </div>
            <div class="col-9 px-3">
                <div class="row">
                    <div class="col">
                        {{ render_field(form.short_desc) }}

                        <div class="row mb-2">
                            <div class="col">
                                {{ render_field(form.source_id) }}
                                {% include "/includes/forms/supporter-details.html" %}
                                {{ render_field(form.problem_id, label="Problem", btn='true', button_label="<i class='bi bi-box-arrow-up-right'></i>", button_class='btn-outline-primary' ) }}
                            </div>
                            <div class="col">
                                {{ render_field(form.category_id) }}
                                {{ render_field(form.subcategory_id) }}
                                {{ render_field(form.cmdb_id) }}

                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        {{ render_field(form.rapid_resolve, label="Rapid Resolution Templates", btn='true', button_label="<i class='bi bi-rocket-takeoff'></i>") }}
                        {{ render_field(form.knowledge_resolve, label="Resolve from Knowledge Article", btn='true', button_label="<i class='bi bi-rocket-takeoff'></i>") }}
                        <div class="mb-1 mt-2 p-3 border border-white">
                            {{ render_field(form.outage) }}
                            <div id="outage-from" class="input-group readonly mb-4">
                                <span class="input-group-text w-25 justify-content-end">From:</span>
                                {{ form.outage_start }}
                            </div>
                            <div id="outage-to" class="input-group readonly mt-4">
                                <span class="input-group-text w-25 justify-content-end">To:</span>
                                {{ form.outage_end}}
                            </div>
                            <div class="d-flex mt-4">
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    Outage time
                                    {{ form.outage_duration_total(class="no-border h4 w-75 text-center") }}
                                </div>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    SLA Time
                                    {{ form.outage_duration_sla(class="no-border h4 w-75 text-center") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% include "includes/tabs/details-tab.html" %}
                        {% include "includes/tabs/journal-tab.html" %}
                        {% include "includes/tabs/children-tab.html" %}
                        {% include "includes/tabs/resolution-tab.html" %}
                        {% include "/includes/tabs/review/incident-review-tab.html" %}
                        {% include "includes/tabs/info-tab.html" %}
                    </ul>
                    {#  Tab Content    #}
                    <div class="tab-content" id="myTabContent">
                        {% include "includes/tabs/details-tab-content.html" %}
                        {% include "includes/tabs/journal-tab-content.html" %}
                        {% include "includes/tabs/children-tab-content.html" %}
                        {% include "includes/tabs/resolution-tab-content.html" %}
                        {% include "/includes/tabs/review/incident-review-tab-content.html" %}
                        {% include "includes/tabs/info-tab-content.html" %}
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/modals/modal-set-parent.html" %}
        {% include "includes/modals/modal-set-children.html" %}
        {% include "includes/modals/modal-worknote.html" %}
        {% include "includes/modals/modal-email-requester.html" %}
        {% include "includes/modals/modal-sla-pause.html" %}
        {% include "includes/modals/modal-resolution.html" %}
    </form>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', filename='js/ticket.js') }}"></script>
    <script type="module" src="{{ url_for('interaction_bp.static', filename='js/interaction.js') }}"></script>
{% endblock scripts %}
