{% extends "layouts/base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'macros/macros.html' import render_field %}


{% block app_header %}
    {% include 'includes/forms/form-header.html' %}
{% endblock app_header %}

{% block content %}
    <form id="form" class="row g-3 needs-validation" novalidate method="post">
        {{ form.csrf_token }}
        <div class="row mt-1 g-2">
            <div class="col-3 px-3 border-end border-white">
                {% include "/includes/forms/requester-fields.html" %}
                {% include "/includes/form/problem-priority.html" %}
            </div>
            <div class="col-9 px-3">
                <div class="mb-4">
                    {{ render_field(form.short_desc) }}
                    <div class="row mb-2">
                        <div class="col p-2">
                            {% include "/includes/forms/supporter-details.html" %}
                        </div>
                        <div class="col p-2">
                            {{ render_field(form.category_id) }}
                            {{ render_field(form.cmdb_id) }}
                        </div>

                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs" id="myTab">
                        {% include "includes/tabs/details-tab.html" %}
                        {% include "includes/tabs/journal-tab.html" %}
                        {% include "includes/tabs/children-tab.html" %}
                        {% include "includes/tabs/analysis-tab.html" %}
                        {% include "includes/tabs/resolution-tab.html" %}
                        {% include "includes/tabs/info-tab.html" %}
                    </ul>
                    {#  Tab Content    #}
                    <div class="tab-content" id="myTabContent">
                        {% include "includes/tabs/details-tab-content.html" %}
                        {% include "includes/tabs/journal-tab-content.html" %}
                        {% include "includes/tabs/analysis-tab-content.html" %}
                        {% include "includes/tabs/children-tab-content.html" %}
                        {% include "includes/tabs/resolution-tab-content.html" %}
                        {% include "includes/tabs/info-tab-content.html" %}
                    </div>
                </div>
            </div>
        </div>
        {% include "includes/modals/modal-set-children.html" %}
        {% include "includes/modals/modal-worknote.html" %}
        {% include "includes/modals/modal-email-requester.html" %}
        {% include "includes/modals/modal-resolution.html" %}
    </form>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="module" src="{{ url_for('static', filename='js/ticket.js') }}"></script>
    <script type="module" src="{{ url_for('problem_bp.static', filename='js/problem.js') }}"></script>
{% endblock scripts %}
