<div>
    <div class="text-center">
        <h5>Priority</h5>
        <input type="radio" class="btn-check" name="priority-matrix" id="1"
               data-priority="P1" value="P1">
        <label class="btn btn-outline-danger" for="1">P1</label>

        <input type="radio" class="btn-check" name="priority-matrix" id="2"
               data-priority="P2" value="P2">
        <label class="btn btn-outline-warning" for="2">P2</label>

        <input type="radio" class="btn-check" name="priority-matrix" id="3"
               data-priority="P3" value="P3">
        <label class="btn btn-outline-primary" for="3">P3</label>

        <input type="radio" class="btn-check" name="priority-matrix" id="4"
               data-priority="P4" value="P4">
        <label class="btn btn-outline-info" for="4">P4</label>

        <input type="radio" class="btn-check" name="priority-matrix" id="5"
               data-priority="P5" value="P5">
        <label class="btn btn-outline-success" for="5">P5</label>
    </div>
    <div class="row text-center">
        <div class="mt-4">
            {{ form.priority(class="no-border h1", style="width: 15%;") }}
        </div>
    </div>
</div>