{% if context == 'interaction' %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  Actions
</h6>
<ul class="navbar-nav flex-column outer-ul">
    <li class="nav-item">
        <a href="#" class="nav-link px-3">
            <i class="mdi mdi-account-wrench"></i>
        Take Onwership
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link px-3">
        <i class="mdi mdi-file-link"></i>
        Link to Problem
        </a>
    </li>
</ul>
<hr>
{% endif %}