<!-- Pagination Links-->
{% macro render_pagination(pagination, endpoint, team_filter) %}
<div class="text-right">
    <a href="{{ url_for(endpoint, page=pagination.prev_num, team=team_filter) }}"
       class="btn btn-outline-dark
       {% if pagination.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if pagination.page == page_num %}
            <a href="{{ url_for(endpoint, page=page_num, team=team_filter) }}"
               class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for(endpoint, page=page_num, team=team_filter) }}"
               class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for(endpoint, page=pagination.next_num, team=team_filter) }}"
       class="btn btn-outline-dark
       {% if pagination.page == pagination.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ pagination.page }} of {{ pagination.pages }}
<br>
    {{ pagination.first }}-{{ pagination.last }} of {{ pagination.total }} items
</p>
{% endmacro %}