<div class="tab-pane show active" id="all-changes-tab-pane">
    <div class="tab-content">
        <div class="card border-0 shadow mb-4 m-2">
            <div class="card-header">
                <div class="col d-flex gap-4">
                    <div id="all-change-types-count" class="chart-container"></div>
                    <div id="all-normal-risk-count" class="chart-container"></div>
                    <div id="all-changes-status-count" class="chart-container"></div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex gap-4">
                    <div class="titled-box">
                        <div class="d-flex gap-4">
                            <div class="hstack gap-2 mt-4">
                                <label for="change-filter-field" class="form-label">Field</label>
                                <select id="change-filter-field" class="form-control">
                                    <option></option>
                                    <option value="ticket_number">Ticket #</option>
                                    <option value="requested_by">Requester</option>
                                    <option value="supported_by">Supported By</option>
                                </select>
                                <label for="change-filter-value" class="form-label">Value</label>
                                <input id="change-filter-value" type="text" class="form-control"
                                       name="change-filter-value"
                                       placeholder="value to filter" disabled>
                            </div>
                            <div>
                                <button type="button" id="change-clear-filter-btn"
                                        class="mt-4 btn btn-sm btn-outline-danger">
                                    Clear
                                    filters
                                </button>
                            </div>
                            <div class="mt-2">
                                <div id="param-info" title="Graph filters take precedence over head filters"
                                     data-bs-toggle="tooltip"></div>
                                <div id="filter-info">Not filtered</div>
                            </div>
                        </div>
                    </div>
                    <div class="hstack ms-auto">
                        <div class="titled-box ms-auto">
                            <div class="mt-4 btn-group-sm">
                                <button type="button" class="btn btn-outline-primary" id="change-tickets-download-csv"
                                        title="Exports visible data">Export
                                    CSV
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="all-changes-table"></div>
        </div>
    </div>
</div>
